
body {
  background: brown;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  height:100%;
  text-align: center;
}

.wrappper{
  width:100%;
  margin:0 auto;
}

h1{
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 p {
	font-size: 40px;
}

#clue{
  font-size: 40px;
}


#alphabet {
  font-size: 20px;
  margin:15px auto;
  padding:0;
  max-width:900px;
  text-align: center;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $white;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
  text-align: justify;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

#mylives{
  font-size:1.6em;
  text-align: center;;
}

button{
  color: black;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:15px 10px;
  width:150px;
  margin: 10px;
  outline: none;
}
